################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns/.vs
/DesignPatterns/Adapter/bin/Debug/net8.0
/DesignPatterns/AbstractFactory/bin/Debug/net8.0
/DesignPatterns/AbstractFactory/obj
/DesignPatterns/Adapter/obj
/DesignPatterns/Bridge/bin/Debug/net8.0
/DesignPatterns/Bridge/obj
/DesignPatterns/Builder/bin/Debug/net8.0
/DesignPatterns/Builder/obj
/DesignPatterns/Command/bin/Debug/net8.0
/DesignPatterns/Command/obj
/DesignPatterns/Composite/bin/Debug/net8.0
/DesignPatterns/Composite/obj
/DesignPatterns/Decorator/bin/Debug/net8.0
/DesignPatterns/Decorator/obj
/DesignPatterns/Prototype/bin/Debug/net8.0
/DesignPatterns/Prototype/obj
/DesignPatterns/Singleton/bin/Debug/net8.0
/DesignPatterns/Singleton/obj
/DesignPatterns/State/bin/Debug/net8.0
/DesignPatterns/State/obj
/DesignPatterns/Strategy/bin/Debug/net8.0
/DesignPatterns/Strategy/obj
/DesignPatterns/Observer
